@font-face{
  font-family: 'Museo100';
  src: url('../fonts/Museo_Slab_100.otf');
}

body {
    background-color: rgba(6, 188, 251, 0.6);
}

.student-form {
  text-align: center;
  a {  
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
  
    &:hover {
      background-color: white;
      color: #263056;
    }
  }
}

header {
  text-align: center;
}

.highlight-underline {
  position: relative;
  text-decoration: none;
  color: #263056;
}

.highlight-underline::before {
  content: "";
  position: absolute;
  left: -1%;
  bottom: -1px;
  width: 102%;
  height: 19px;
  background-color: rgb(255, 255, 255, 0.8);
  z-index: -1;
}

.info {
  padding-bottom: 30px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
      
  p {
    color: #263056;
    font-family: 'Museo100';
    font-size: 2.2em;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: center;
  }

  .summary {
    font-size: 1.8em;
    margin-bottom: 0px;
    max-width: 75%;
  }
}

.fb-page {
  padding-top: 20px;
}

.fb_iframe_widget {
  position: absolute;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1em;
  }

  .student-form {
    a {
      font-size: 1.5em;
    }
  }

  .info {
    padding-top: 10px;
  
    p {
     font-size: 1.3em;
     padding-bottom: 10px;
     padding-top: 0px;
    }

    .summary {
    font-size: 1.2em;
    max-width: 80%;
  }
}

  .highlight-underline {
    color: rgb(21, 21, 21);
  }
  
  .highlight-underline::before {
    display: none;
  }

  header img {
    width: 100%;
  }

}





