.programs_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  @media (min-width: 600px) {
    .programs_container {
      flex-flow: row wrap; } }
  @media (min-width: 1200px) {
    .programs_container {
      font-size: 1rem; } }
  .programs_container .program {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0; }
    .programs_container .program .program_animation {
      border-radius: 100%;
      background: #e7feff;
      width: 120px;
      height: 120px;
      text-align: center;
      margin-top: 3rem; }
      @media (min-width: 600px) {
        .programs_container .program .program_animation {
          width: 140px;
          height: 140px; } }
      .programs_container .program .program_animation .program_animation_text {
        margin-top: 1.8rem;
        margin-right: 0.8rem; }
    .programs_container .program .program_video-editing {
      border-radius: 100%;
      background: #e7feff;
      width: 120px;
      height: 120px;
      text-align: center;
      margin-top: 3rem; }
      @media (min-width: 600px) {
        .programs_container .program .program_video-editing {
          width: 140px;
          height: 140px; } }
      .programs_container .program .program_video-editing .program_video-editing_text {
        margin-top: 1.3rem;
        margin-right: 0.4rem; }
    .programs_container .program .program_photography {
      border-radius: 100%;
      background: #e7feff;
      width: 120px;
      height: 120px;
      text-align: center;
      margin-top: 3rem; }
      @media (min-width: 600px) {
        .programs_container .program .program_photography {
          width: 140px;
          height: 140px; } }
      .programs_container .program .program_photography .program_photography_text {
        margin-top: 1.8rem;
        margin-right: 0.8rem; }
    .programs_container .program .program_graphic-design {
      border-radius: 100%;
      background: #e7feff;
      width: 120px;
      height: 120px;
      text-align: center;
      margin-top: 3rem; }
      @media (min-width: 600px) {
        .programs_container .program .program_graphic-design {
          width: 140px;
          height: 140px; } }
      .programs_container .program .program_graphic-design .program_graphic-design_text {
        margin-top: 1.3rem;
        margin-right: 0.4rem; }
    .programs_container .program .program_web-development {
      border-radius: 100%;
      background: #e7feff;
      width: 120px;
      height: 120px;
      text-align: center;
      margin-top: 3rem; }
      @media (min-width: 600px) {
        .programs_container .program .program_web-development {
          width: 140px;
          height: 140px; } }
      .programs_container .program .program_web-development .program_web-development_text {
        margin-top: 1.3rem;
        margin-right: 0.4rem; }
    .programs_container .program .space {
      margin-right: 3rem; }
    .programs_container .program .space_small-screens_top {
      margin-top: 3rem; }
  .programs_container .columns:last-child {
    margin-bottom: 0;
    margin-top: 0; }
  .programs_container .students_container .student_animation-title {
    display: none;
    text-align: center;
    height: 25%; }
  .programs_container .students_container .student_video-editing-title {
    display: none;
    text-align: center;
    height: 25%; }
  .programs_container .students_container .student_photography-title {
    display: none;
    text-align: center;
    height: 25%; }
  .programs_container .students_container .student_graphic-design-title {
    display: none;
    text-align: center;
    height: 25%; }
  .programs_container .students_container .student_web-dev-title {
    display: none;
    text-align: center;
    height: 25%; }
  @media (min-width: 600px) {
    .programs_container .students_container {
      flex-flow: row wrap; } }
  .programs_container .students_container .students_back {
    display: none; }
  .programs_container .students_container .students_a {
    display: none;
    text-align: center;
    flex-direction: column; }
    @media (min-width: 900px) {
      .programs_container .students_container .students_a {
        flex-direction: row; } }
    .programs_container .students_container .students_a .students_image {
      margin-top: 2rem;
      top: 50px;
      text-align: center; }
  .programs_container .students_container .students_ve {
    display: none;
    text-align: center;
    flex-direction: column; }
    @media (min-width: 900px) {
      .programs_container .students_container .students_ve {
        flex-direction: row; } }
    .programs_container .students_container .students_ve .students_image {
      margin-top: 2rem;
      top: 50px;
      text-align: center; }
  .programs_container .students_container .students_p {
    display: none;
    text-align: center;
    flex-direction: column; }
    @media (min-width: 900px) {
      .programs_container .students_container .students_p {
        flex-direction: row; } }
    .programs_container .students_container .students_p .students_image {
      margin-top: 2rem;
      top: 50px;
      text-align: center; }
  .programs_container .students_container .students_gd {
    display: none;
    text-align: center;
    flex-direction: column; }
    @media (min-width: 900px) {
      .programs_container .students_container .students_gd {
        flex-direction: row; } }
    .programs_container .students_container .students_gd .students_image {
      margin-top: 2rem;
      top: 50px;
      text-align: center; }
  .programs_container .students_container .students_wd {
    display: none;
    text-align: center;
    flex-direction: column;
    margin-left: 1.5rem; }
    @media (min-width: 900px) {
      .programs_container .students_container .students_wd {
        flex-direction: row;
        margin-left: 0; } }
    .programs_container .students_container .students_wd .students_image {
      margin-top: 2rem;
      top: 50px;
      text-align: center; }

.programs_container .program .program_animation {
  position: relative;
  -webkit-animation-name: moving_bubble_animation;
  -webkit-animation-duration: 15s;
  animation-name: moving_bubble_animation;
  animation-duration: 15s;
  animation-iteration-count: infinite; }
@-webkit-keyframes moving_bubble_animation {
  0% {
    top: 0px; }
  25% {
    top: 25px; }
  50% {
    top: 15px; }
  66% {
    top: 27px; }
  75% {
    top: 50px; }
  100% {
    top: 0px; } }
@keyframes moving_bubble_animation {
  0% {
    top: 0px; }
  25% {
    top: 25px; }
  50% {
    top: 15px; }
  66% {
    top: 27px; }
  75% {
    top: 50px; }
  100% {
    top: 0px; } }
.programs_container .program .program_video-editing {
  position: relative;
  -webkit-animation-name: moving_bubble_video-editing;
  -webkit-animation-duration: 15s;
  animation-name: moving_bubble_video-editing;
  animation-duration: 15s;
  animation-iteration-count: infinite; }
@-webkit-keyframes moving_bubble_video-editing {
  0% {
    top: 0px; }
  25% {
    top: 27px; }
  50% {
    top: 23px; }
  66% {
    top: 17px; }
  75% {
    top: 38px; }
  100% {
    top: 0px; } }
@keyframes moving_bubble_video-editing {
  0% {
    top: 0px; }
  25% {
    top: 27px; }
  50% {
    top: 23px; }
  66% {
    top: 17px; }
  75% {
    top: 38px; }
  100% {
    top: 0px; } }
.programs_container .program .program_photography {
  position: relative;
  -webkit-animation-name: moving_bubble_photography;
  -webkit-animation-duration: 15s;
  animation-name: moving_bubble_photography;
  animation-duration: 15s;
  animation-iteration-count: infinite; }
@-webkit-keyframes moving_bubble_photography {
  0% {
    top: 0px; }
  25% {
    top: 39px; }
  50% {
    top: 26px; }
  66% {
    top: 33px; }
  75% {
    top: 15px; }
  100% {
    top: 0px; } }
@keyframes moving_bubble_photography {
  0% {
    top: 0px; }
  25% {
    top: 39px; }
  50% {
    top: 26px; }
  66% {
    top: 33px; }
  75% {
    top: 15px; }
  100% {
    top: 0px; } }
.programs_container .program .program_graphic-design {
  position: relative;
  -webkit-animation-name: moving_bubble_graphic-design;
  -webkit-animation-duration: 15s;
  animation-name: moving_bubble_graphic-design;
  animation-duration: 15s;
  animation-iteration-count: infinite; }
@-webkit-keyframes moving_bubble_graphic-design {
  0% {
    top: 0px; }
  25% {
    top: 10px; }
  50% {
    top: 45px; }
  66% {
    top: 24px; }
  75% {
    top: 35px; }
  100% {
    top: 0px; } }
@keyframes moving_bubble_graphic-design {
  0% {
    top: 0px; }
  25% {
    top: 10px; }
  50% {
    top: 45px; }
  66% {
    top: 24px; }
  75% {
    top: 35px; }
  100% {
    top: 0px; } }
.programs_container .program .program_web-development {
  position: relative;
  -webkit-animation-name: moving_bubble_web-dev;
  -webkit-animation-duration: 15s;
  animation-name: moving_bubble_web-dev;
  animation-duration: 15s;
  animation-iteration-count: infinite; }
@-webkit-keyframes moving_bubble_web-dev {
  0% {
    top: 0px; }
  25% {
    top: 15px; }
  50% {
    top: 25px; }
  66% {
    top: 10px; }
  75% {
    top: 40px; }
  100% {
    top: 0px; } }
@keyframes moving_bubble_web-dev {
  0% {
    top: 0px; }
  25% {
    top: 15px; }
  50% {
    top: 25px; }
  66% {
    top: 10px; }
  75% {
    top: 40px; }
  100% {
    top: 0px; } }
html {
  display: block; }
  html body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(6, 188, 251, 0.6);
    margin: 0; }

* {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=main.css.map */
